body {
    background-color: #e6ab7c;
}
#contact main h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 3rem;
}
main > div {
    margin: 3rem auto;
    padding: 0 .75rem;
}
.contact {
    color: white;
}
label,
p,
input {
    color: black;
}
form,
section {
    display: flex;
    flex-direction: column;
}
form label {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
select {
    height: 2.15rem;
}

form input:not(ul input) {
    display: block;
    height: 1.75rem;
}
form section {
    margin-bottom: 1rem;
}
form > label,
section > label {
    font-weight: 600;
}
form ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
form ul input {
    width: auto;
    display: inline;
}
form ul label {
    width: 7.5rem;
    display: inline-block;
}
form .inspiration {
    margin-bottom: 1rem;
    margin-top: .5rem;
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
}
form button {
    border-radius: 10px;
}
.file-upload {
    padding: .5rem 1rem;
    width: fit-content;
}
.submit-appointment {
    padding: 1rem;
}
.require-input {
    display: inline;
    background-color: transparent;
    color: red;
    box-shadow: none;
}
.additional-info-text {
    margin-top: .5rem;
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 300;
}